body {
  background-color: #E5EEC1;
  text-decoration: none;
}

form {
  margin-left: auto;
  margin-right: auto;
}

input {
  text-align: center;
}

textarea {
  max-height: 50px;
  width: 300px;
}


 A:link { text-decoration: none; }
 A:visited { text-decoration: none; }
 A:active { text-decoration: none; }
 A:hover { 
     text-decoration: none; /* Ссылка подчеркнутая и надчеркнутая */
     color: red; /* Цвет ссылки */
 } 

.block {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  flex: auto;
}

.header {
  background-color: #E5EEC1;
  width: 100%;
  min-height: 70px;
  text-align: center;
  line-height: 70px;
  margin-bottom: 0px;
  vertical-align: middle;
  color: #333333;
  font-family: "Tahoma", sans-serif;
}
.header h1{
}

.main_menu{
  background-color: #A2D4AB;
  height: 70px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
}

.menu_button {
  background-color: #3EACA8;
  border: solid #E5EEC1 1px;
  border-radius: 50px;
  text-align: center;
  min-height: 30px;
  line-height: 30px;
  margin-left: 30px;
  font-family: "Tahoma", sans-serif;
  color: black;
  text-decoration: none;
  
}

.b1 {
  float: left;
  width: 15%;
  margin-right: 9px;
}

.b2 {
  float: left;
  width: 15%;
  margin-right: 9px;
}

.b3 {
  float: left;
  width: 15%;
  margin-right: 9px;
}

.b4 {
  float: left;
  width: 15%;
  margin-right: 9px;
}

.b5 {
  float: left;
  width: 20%;
  margin-right: 9px;
}

.block2 {
  float: left;
  clear: both;
  background-color: #3EACA8;
  margin-bottom: 0px;
  min-height: 480px;
  text-align: center;
}

.block3 {
  float: left;
  background-color: #547A82;
  margin-bottom: 0px;
  text-align: center;
  color: white;
}

.item { 
float: left;
display: inline-block; 
width: 300px; 
height: auto; 
margin-top: 10px; 
margin-bottom: 50px; 
margin-right: 50px; 
text-align: center; 
font-size: 15px 
} 

.item_img { 
width: 200px; 
height: 200px; 
background-color: #3EACA8; 
margin-bottom: 10px; 
margin-left: auto; 
margin-right: auto; 
}

.big {
  width: 600px; 
  height: 400px; 
  float: none;
}

.big-left {
  width: 600px; 
  height: 500px 
  float: left;
}

.maptext {
  margin-right: 30px;
  float: none;
}



.footer {
  float: left;
  margin-bottom: 0px;
  background-color: #5A5050;
  color: lightgray;
  min-height: 40px;
  line-height: 40px;
  vertical-align: bottom;
}

footer {
  flex-shrink: 0;
}


#slider { /*положение слайдера*/
    position: relative;
	text-align: center;
    top: 10px;
}

#slider{ /*центровка слайдера*/
	margin: 0 auto;
}

#slides article{ /*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 100%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
	max-width: 960px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
	background: url('prev.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
	margin: 0 0 0 -84px; /*сдвиг влево*/
	display: block;
	height: 68px;
	width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
	background: url('next.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: 0 -84px 0 0; /*сдвиг вправо*/
	display: block;
	height: 68px;
	width: 68px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#switch4:checked ~ #slides .image{
	margin-left: -300%;
}

#switch5:checked ~ #slides .image{
	margin-left: -400%;
}

#controls{ /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active{ /*расположение блока с переключателями*/
	margin: 23% 0 0;
	text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}